body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.containerAll {
  width: 100%;
  min-height: 100vh;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1,
.box2,
.box3 {
  width: 300px;
  min-height: 400px;
  margin: 20px;
  border: 2px dashed white;
}
.disk {
  background-color: aqua;

  color: white;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: center;
}
.red {
  background-color: red;
  height: 30px;
  margin: 20px;
}
.blue {
  background-color: blue;
  height: 60px;
  margin: 20px;
}
.green {
  background-color: green;
  height: 90px;
  margin: 20px;
}
